{
    "hosts": [{% for str in ansible_role_docker.listening_hosts %}"{{ str }}"{% if not loop.last %},{% endif %}{% endfor %}],
    "dns": [{% for str in ansible_role_docker.dns %}"{{ str }}"{% if not loop.last %},{% endif %}{% endfor %}]
}